<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="it.css">
    <link href="https://fonts.googleapis.com/css2?family=K2D&display=swap" rel="stylesheet">

    <title>Document</title>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.min.js" integrity="sha512-bPh3uwgU5qEMipS/VOmRqynnMXGGSRv+72H/N260MQeXZIK4PG48401Bsby9Nq5P5fz7hy5UGNmC/W1Z51h2GQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    
    <div id="app">
        <br>
    <div class="logo2"> 
        <a href="IT.html"><img src="imgs/FITM_LOGO.png" height="100"></a>
        <h1 class="title"> Faculty of Industrial Technology and Management </h1>
    </div>
    <br>

    <div class="bg3"> <a href="IT.html"style="text-decoration:none; color: black;"> INFORMATION TECHNOLOGY (IT) </a></div>
    <div class="bg4"> <a href="INE.html"style="text-decoration:none; color: black;"> INFORMATION AND NETWORK ENGINEERING (INE) </a></div>  
    
    <div class="container-search">
        <h2>INFORMATION TECHNOLOGY (IT)</h2>
            <div id="searchWrapper">
                <input
                    @keyup.enter="onSearch()"
                    v-model="keywordSearch"
                    type="text"
                    name="searchBar"
                    id="searchBar" 
                />
                &nbsp;&nbsp;&nbsp; <button type="button" name="submit" class=" px-5 py-2 bg-green-500 rounded-lg"> <a href="login.html"> Edit </a>  </button>

            </div> <br>
            <div class="container">
                <div class="pop-cont">
                    <ul id="TeacherList">
                        <li @click="onPopup(item)" class="teacher" v-for="item in teachers">
                            <h2 class="name">{{ item.name}} <br> Group : {{ item.group }}</h2>  
                            <img class="img" :src="item.img"></img>
                        </li>
                    </ul> 
                </div>
            </div>
            <div :class="{'hidden': !statusPopup}">
                <div class="pop-up-original z-20">
                    <div class="pop-up-content">
                        <img style="width: 220px !important;" :src="
                            dataPopup.img 
                            || 
                            `https://thumbs.dreamstime.com/b/no-image-available-icon-flat-vector-no-image-available-icon-flat-vector-illustration-132482953.jpg`"
                        > &nbsp;&nbsp;&nbsp; 
                        <div class="pop-body mt-24">
                            <p class="pop-name">
                                {{ dataPopup.name }}
                            </p> 

                            <p class="pop-name">
                                {{ dataPopup.nameTH }}
                            </p>

                            <p class="pop-email">
                                {{ dataPopup.email }}
                            </p> <br>

                            <p class="pop-group">
                                Group : {{ dataPopup.group }}
                            </p>


                        </div>
                    </div>
                </div>
                <div @click="statusPopup = !statusPopup" class="overlay w-full h-screen fixed bg-black opacity-40 z-10 left-0 top-0"></div>
            </div>
        </div> 
    </div>

</body>
</html>


<script>

    Vue.createApp({

        data() {
            return {
                teachers: [],
                dataPopup: { name: '', email: '' },
                statusPopup: false,
                keywordSearch: ''
            }
        },
        
        watch: {
            keywordSearch: function (valNew, valOld) {
                if (valNew.length === 0) {
                    this.getTechers();
                } 
                else {this.onSearch();
                }
            }
        },

        methods: {

            async onSearch() {

                await axios.get(`http://localhost:5000/teacher/find/${this.keywordSearch}`)
                    .then((res) => {
                        this.teachers = res.data;
                    })
                    .catch((err) => { console.log(err) })

            },

            async getTechers() {
                await axios.get('http://localhost:5000/teacher')
                    .then((res) => {
                        if (res.status === 200) {
                            for (let item of res.data) {

                                if (item.group === 'IT') {
                                    this.teachers.push(item);
                                }

                            }
                        } else {
                            alert('Error someting')
                        }
                    })
                    .catch((err) => { console.log('Error!!!!!!!!!!!!', err.message); })
            },
            onPopup(item) {
                console.log(item)
                this.statusPopup = true;
                this.dataPopup = item;
            },
        },

        async mounted() {
            await this.getTechers();
        }


    }).mount('#app')
</script>